In [2]:
import numpy as np
import pandas as pd

from sklearn.metrics import mean_squared_error

In [4]:
folds = [f'/data/Projects/ACC_NCDR/NCDR/BJMDATA/ACTION/NCHData/multiple_imputed/fold_{fold}' for fold in range(1,6)]
modes = ['mcnamara', 'expanded']

In [9]:
f'{fold}/fold_{fold[-1]}{mode}_vars_pred.csv'

'/data/Projects/ACC_NCDR/NCDR/BJMDATA/ACTION/NCHData/multiple_imputed/fold_1/fold_1mcnamara_vars_pred.csv'

In [47]:
mse = []
for mode in modes:
    print(f'Starting {mode} models')
    row_errors = [mode]
    for fold in folds:
        print(f'Loading data for {mode} dataset fold {fold}.')
        preds = pd.read_csv(f'{fold}/fold_{fold[-1]}{mode}_vars_pred.csv')
        glm_e = mean_squared_error(preds.glm, preds.DCStatus)
        xgb_e = mean_squared_error(preds.xgb, preds.DCStatus)
        nn_e  = mean_squared_error(preds.nn, preds.DCStatus)
        meta_e= mean_squared_error(preds.meta, preds.DCStatus)
        row_errors.append([int(fold[-1]), glm_e, xgb_e, nn_e, meta_e])
    mse.append(row_errors)

Starting mcnamara models
Loading data for mcnamara dataset fold /data/Projects/ACC_NCDR/NCDR/BJMDATA/ACTION/NCHData/multiple_imputed/fold_1.
Loading data for mcnamara dataset fold /data/Projects/ACC_NCDR/NCDR/BJMDATA/ACTION/NCHData/multiple_imputed/fold_2.
Loading data for mcnamara dataset fold /data/Projects/ACC_NCDR/NCDR/BJMDATA/ACTION/NCHData/multiple_imputed/fold_3.
Loading data for mcnamara dataset fold /data/Projects/ACC_NCDR/NCDR/BJMDATA/ACTION/NCHData/multiple_imputed/fold_4.
Loading data for mcnamara dataset fold /data/Projects/ACC_NCDR/NCDR/BJMDATA/ACTION/NCHData/multiple_imputed/fold_5.
Starting expanded models
Loading data for expanded dataset fold /data/Projects/ACC_NCDR/NCDR/BJMDATA/ACTION/NCHData/multiple_imputed/fold_1.
Loading data for expanded dataset fold /data/Projects/ACC_NCDR/NCDR/BJMDATA/ACTION/NCHData/multiple_imputed/fold_2.
Loading data for expanded dataset fold /data/Projects/ACC_NCDR/NCDR/BJMDATA/ACTION/NCHData/multiple_imputed/fold_3.
Loading data for expanded dataset fold /data/Projects/ACC_NCDR/NCDR/BJMDATA/ACTION/NCHData/multiple_imputed/fold_4.
Loading data for expanded dataset fold /data/Projects/ACC_NCDR/NCDR/BJMDATA/ACTION/NCHData/multiple_imputed/fold_5.

In [52]:
pd.DataFrame(mse[0][1:], columns=['fold','glm', 'xgb', 'nn', 'meta'])

   fold       glm       xgb        nn      meta
0     1  0.033552  0.032595  0.032712  0.032412
1     2  0.033750  0.032924  0.032958  0.032672
2     3  0.034056  0.033254  0.033455  0.033039
3     4  0.034030  0.033279  0.033207  0.033008
4     5  0.033763  0.032748  0.033068  0.032540

In [50]:
pd.DataFrame(mse[1][1:], columns=['fold','glm', 'xgb', 'nn', 'meta'])

   fold       glm       xgb        nn      meta
0     1  0.032057  0.030887  0.031306  0.030697
1     2  0.032262  0.031353  0.031582  0.031119
2     3  0.032576  0.031510  0.031862  0.031294
3     4  0.032623  0.031643  0.032133  0.031470
4     5  0.032170  0.031164  0.031514  0.030947